/* entire page */
body {
    margin: 0;
    font-family: monospace;
    background-color: #0f0f0f;
    color: #ffffff;
}
  
/* layout */
.movie-app {
    padding: 24px;
    max-width: 100vw;
    margin: 0 auto;
}
  
/* SEARCH BAR STYLING */
.search-bar {
    margin-bottom: 14px;
}

.search-form {
    display: flex;
    gap: 10px;
}
  
.search-input {
    flex: 1;
    padding: 12px 14px;
    font-size: 1.25rem;
    border-radius: 6px;
    border: none;
}
  
.search-button {
    padding: 10px 14px;
    font-size: 1.25rem;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    background-color: hsl(357, 92%, 50%);
    color: white;
}
  
.search-button:hover {
    background-color: hsl(357, 92%, 40%);
}
  
/* error */
.error-text {
    margin-top: 8px;
    color: #ff6b6b;
}
  
/* results */
.results-list {
    list-style: none;
    padding: 0;
    min-width: 360px;
}

.results-poster {
    width: 125px;
    height: 190px;
    border-radius: 4px;
    margin-right: 20px;
    margin-left: 10px;
}

.poster-placeholder {
    width: 125px;
    height: 190px;
    background-color: #333;
    color: #aaa;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    border-radius: 4px;
    margin-right: 20px;
    margin-left: 10px;
}

.results-info {
    display: flex;
    gap: 4px;
    align-items: center;
}

.results-item {
    padding: 10px 0;
    border-bottom: 1px solid #2a2a2a;
    display: flex;
    cursor: pointer;
}

.results-item:hover {
    background-color: #1c1c1c;
}

.results-title {
    font-size: 1.5rem;
    font-weight: 600;
}

.results-title:hover {
    color: hsl(204, 92%, 55%);
}

.results-year {
    font-size: 1rem;
    opacity: 0.8;
}  