/* entire page */
body {
    margin: 0;
    font-family: monospace;
    background-color: #0f0f0f;
    color: #ffffff;
}
  
/* layout */
.movie-app {
    position: relative;
    padding: 24px;
    max-width: 85%;
    margin: 0 auto;
    z-index: 1;
}

.backdrop-container {
    width: 100%;
    height: 100vh;
    background-size: cover;
}

.backdrop-container::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to bottom, transparent, #0f0f0f);
}
  
/* SEARCH BAR STYLING */
.search-bar {
    margin-bottom: 14px;
}

.search-form {
    display: flex;
    gap: 10px;
}
  
.search-input {
    flex: 1;
    padding: 12px 14px;
    font-size: 1.25rem;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 8px;
    backdrop-filter: blur(8px);
    color: white;
}

.search-input::placeholder {
    color: white;
    font-family: monospace;
}

.search-input:hover {
    background: rgba(255, 255, 255, 0.16);
}
  
.search-button {
    padding: 10px 14px;
    font-size: 1.25rem;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    background-color: hsl(357, 92%, 50%);
    color: white;
}
  
.search-button:hover {
    background-color: hsl(357, 92%, 40%);
}
  
/* error */
.error-text {
    margin-top: 8px;
    color: #ff6b6b;
}
  
/* results */
.results-list {
    list-style: none;
    padding: 0;
    min-width: 360px;
}

.results-poster {
    width: 125px;
    height: 190px;
    border-radius: 4px;
    margin-right: 20px;
    margin-left: 10px;
}

.poster-placeholder {
    width: 125px;
    height: 190px;
    background-color: #333;
    color: #aaa;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    border-radius: 4px;
    margin-right: 20px;
    margin-left: 10px;
}

.results-info {
    display: flex;
    gap: 4px;
    align-items: center;
}

.results-item {
    padding: 10px 0;
    border-bottom: 1px solid #2a2a2a;
    display: flex;
    cursor: pointer;
}

.results-item:hover {
    border: 1px solid white;
}

.results-title {
    font-size: 1.5rem;
    font-weight: 600;
    transition: .25s ease;
}

.results-title:hover {
    color: hsl(204, 92%, 55%);
}

.results-year {
    font-size: 1rem;
    opacity: 0.8;
}  

/* MOVIE PAGE STYLING */
.movie-basic {
    padding: 24px;
    max-width: 85%;
    margin-top: 55vh;
    display: flex;
}

.movie-poster {
    width: 325px;
    height: 100%;
    border-radius: 5px;
}

.movie-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 30px;
}

.movie-info h1 {
    font-size: 2.5rem;
}

.movie-info u {
    cursor: pointer;
    transition: .25s ease;
}

.movie-info u:hover {
    color: hsl(204, 92%, 55%);
}

.movie-rating {
    padding: 4px 8px;
    border-radius: 6px;
    border: 1px solid hsl(0, 0%, 35%);
    background: hsl(0, 0%, 15%);
    color: hsl(0, 0%, 90%);
    line-height: 1;
}

/* MOVIE MODAL STYLING */
.movie-modal {
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

.movie-modal-content {
    font-size: 1.1rem;
}

.movie-modal-content ul {
    list-style: none;
    padding: 8px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: hsl(0, 0%, 10%);
    border: 2px solid hsl(0, 0%, 20%);
    border-radius: 8px;
}

.movie-modal-content li {
    list-style: none;
    padding: 6px 18px;
    text-align: center;
    width: 100%;
    cursor: pointer;
    transition: .25s ease;
}

.movie-modal-content li:hover {
    color: hsl(204, 92%, 55%);
}

.movie-modal-content hr{
    width: 100%;
    border: none;
    border-top: 1px solid hsl(0, 0%, 30%);
    margin: 6px 0;
}

/* MOVIE TABS STYLING */
.movie-tabs {
    display: flex;
    gap: 18px;
    margin-top: 14px;
    justify-content: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    padding-bottom: 8px;
    width: 100%;
}

.movie-tab {
    font-family: monospace;
    background: transparent;
    border: none;
    color: rgb(0, 255, 187);
    font-size: 1.4rem;
    cursor: pointer;
    transition: .25s ease;
}

.movie-tab:hover {
    transform: scale(1.05);
    text-decoration: underline;
}

.movie-tab.active {
    color: white;
    text-decoration: underline;
}

.movie-tab-content {
    font-size: 0.9rem;
}

/* CAST LIST STYLING */
.cast-list {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px 40px;
}

.cast-item {
    padding: 6px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.cast-name {
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
    transition: .25s ease;
}

.cast-name:hover {
    color: hsl(204, 92%, 55%);;
}

.cast-character {
    opacity: 0.9;
    margin-left: 5px;
}

/* CREW LIST STYLING */
.crew-list {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px 40px;
}

.crew-item {
    padding: 6px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.crew-job {
    font-size: 1rem;
}

.crew-person {
    font-weight: bold;
    cursor: pointer;
    transition: .25s ease;
}

.crew-person:hover {
    color: hsl(204, 92%, 55%);
}

/* ACTOR PAGE STYLING */
.actor-basic {
    padding: 24px;
    max-width: 100%;
    display: flex;
}

.actor-personal {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 40vw;
    gap: 0;
}

.actor-profile-img {
    width: 250px;
    height: 375px;
    border-radius: 5px;
}

.actor-personal strong {
    font-size: 1rem;
}

.actor-personal p {
    font-size: .9rem;
}

.actor-films {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 30px;
    width: 100vw;
}

.actor-films h1 {
    margin-top: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    padding-bottom: 8px;
    width: 100%;
}

.actor-films p {
    font-size: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    padding-bottom: 8px;
    width: 100%;
}

.actor-info {
    max-width: 20%;
    padding: 0 16px;
    background-color: hsl(0, 0%, 10%);
    border: 2px solid hsl(0, 0%, 20%);
    border-radius: 8px;
    height: max-content;
}

.actor-info p {
    font-size: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    padding-bottom: 8px;
    width: 100%;
}

.actor-info h4 {
    font-weight: lighter;
    overflow: hidden;
    white-space: pre-line;
}

/* ACTOR MOVIE GRID STYLING */
.actor-movies-list {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.actor-movie-poster, .actor-movie-poster-placeholder {
    width: 100%;
    aspect-ratio: 2 / 3;
    border-radius: 8px;
    object-fit: cover;
    cursor: pointer;
    transition: .25s ease;
}

.actor-movie-poster:hover, .actor-movie-poster-placeholder:hover {
    transform: scale(1.05);
}

.actor-movie-poster-placeholder {
    background: rgba(255, 255, 255, 0.08);
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255,255,255,0.6);
    font-size: 0.8rem;
}

/* ACTOR JOB DROPDOWN MENU */
.role-select-container {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    padding-bottom: 8px;
    width: 100%;
}

.role-select {
    font-family: monospace;
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

.role-select:focus {
    outline: none;
}

/* TV SHOW PAGE STYLING */
.tv-basic {
    padding: 24px;
    max-width: 85%;
    margin-top: 55vh;
    display: flex;
}

.tv-poster {
    width: 325px;
    height: 100%;
    border-radius: 5px;
}

.tv-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 30px;
}

.tv-info h1 {
    font-size: 2.5rem;
}

.tv-info u {
    cursor: pointer;
    transition: .25s ease;
}

.tv-info u:hover {
    color: hsl(204, 92%, 55%);
}

.tv-rating {
    padding: 4px 8px;
    border-radius: 6px;
    border: 1px solid hsl(0, 0%, 35%);
    background: hsl(0, 0%, 15%);
    color: hsl(0, 0%, 90%);
    line-height: 1;
}